@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

@font-face {
    font-family: AstroSpace;
    src: url(/fonts/AstroSpace.ttf);
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #212c3b;
  }
  
  header {
    background-color: #141b25;
  }
  
  .main-nav {
    height: 90px;
  }
  
  .logo {
    color: white;
    line-height: 90px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 30px;
    font-family: "AstroSpace", sans-serif;
  }
  
  .navlinks {
    list-style: none;
    float: right;
    line-height: 90px;
    margin: 0;
    padding: 0;
  }
  
  .navlinks li {
    display: inline-block;
    margin: 0px 20px;
  }
  
  .navlinks li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s linear 0s;
    text-transform: uppercase;
  }
  
  .navlinks li a:hover {
    color: #7ebcb9;
    padding-bottom: 7px;
    border-bottom: 2px solid #7ebcb9;
  }
  
  li a.contact {
    background-color: #00adb5;
    padding: 9px 20px;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    border-bottom: none;
  }
  
  li a.contact:hover {
    background-color: #047e85;
    color: white;
    border-bottom: none;
  }
  
  #check {
    display: none;
  }
  
  .menu-btn {
    font-size: 25px;
    color: white;
    float: right;
    line-height: 90px;
    margin-right: 40px;
    display: none;
    cursor: pointer;
  }
  
  @media (max-width: 800px) {
    .navlinks {
      position: fixed;
      width: 100%;
      height: 100vh;
      text-align: center;
      transition: all 0.5s;
      right: -100%;
      background: #222831;
    }
  
    .navlinks li {
      display: block;
    }
  
    .navlinks li a {
      font-size: 20px;
    }
  
    .navlinks li a:hover {
      border-bottom: none;
    }
  
    .menu-btn {
      display: block;
    }
  
    #check:checked ~ .navlinks {
      right: 0;
    }
  }
  
  @media (max-width: 360px) {
    .logo {
      margin-left: 10px;
      font-size: 25px;
    }
  
    .menu-btn {
      margin-right: 10px;
      font-size: 25px;
    }
  
    .menu-btn:focus {
      color: blue;
    }
  }

.ficha{
    padding-left: 50vh;
    width: 100vh;
}

form{
    position: relative;
}

input{
    border: transparent;
    background-color: beige;
    height: 25px;
}

#image-input{
    position: absolute;
    left: 585px;
    top: 545px;
}

#display-image{
    position: absolute;
    left: 545px;
    top: 78px;
    width: 363px;
    height: 455px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
  }

.nome1{
    position: absolute;
    left: 955px;
    top: 126px;
}

.nome2{
    position: absolute;
    left: 955px;
    top: 219px;
}

.nome3{
    position: absolute;
    left: 955px;
    top: 309px;
}

.nome4{
    position: absolute;
    left: 955px;
    top: 401px;
}

.nome5{
    position: absolute;
    left: 955px;
    top: 491px;
}